html,
body,
#page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  padding: none;
  margin: none;
  background-color: whitesmoke;
  font-family: Arial;
}

.container {
  padding: none;
  margin: none;
}

.pokecard {
  display: inline-block;
  width: 240px;
  text-align: center;
  padding: 30px;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 200px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h2 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}
.text-container h3 {
  margin: 20px 0px -10px 0px;
  color: #043d51;
  font-size: 14px;
}

.text-container--types {
  display: flex;
  justify-content: space-between;
}
.text-container--types li {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px -10px 0px;
  padding: none;
  padding: 20px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: #043d51;
  padding: none;
  margin: none;
  & ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  & li {
    color: white;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
  }
}
